body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: 50px;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 225px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 650px;
}

h2 { 
    color: #4a90e2; 
    text-align: center; 
    padding: 10px
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    border: 1px solid #b0d4ff;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #4a90e2;
}

.btn-add {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-pdf {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background-color: #e6f2ff;
    color: #4a90e2;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #b0d4ff;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    
}

.btn-delete {
    background: #ff6b6b; 
    color: white; 
    border: none; 
    padding: 5px 10px;
    border-radius: 3px; 
    cursor: pointer;

    .btn-edit {
    background-color: #00ff44; /* Laranja */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px; /* Espaço entre os botões */
}

.btn-edit:hover {
    background-color: #e67e22;
}

/* Ajuste no botão de deletar para alinhar */
.btn-delete:hover {
    background-color: #c0392b;
    
}

}
/* Essa classe só será ativada via JavaScript na hora do PDF */
.pdf-layout {
    width: 100% !important;
    max-width: none !important;
    padding: 10px !important; /* Diminui o padding de 150px para 20px no PDF */
    margin: 0 !important;
    box-shadow: none !important; /* Remove a sombra no PDF para ficar mais limpo */
}

/* Garante que a tabela ocupe 100% da largura disponível no papel */
.pdf-layout table {
    width: 100% !important;
}